### tuples

In [ ]:
t=(1,2,3)

In [2]:
myList=[1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(myList)

list

In [6]:
t=('a','a','b')
t.count('a')

2

In [7]:
t.index('a')

0

In [8]:
t.index('b')

2

In [9]:
myList[0]='NEW'

In [10]:
myList

['NEW', 2, 3]

In [11]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

## Sets
#### unique elements

In [12]:
mySet=set()

In [13]:
type(mySet)

set

In [15]:
mySet

set()

In [16]:
mySet.add(1)
mySet

{1}

In [17]:
mySet.add(2)
mySet.add(2)
mySet

{1, 2}

In [18]:
myList=[8,6,6,6,6,8,8,1,1,1,9,9,9,9]

In [19]:
set(myList)

{1, 6, 8, 9}

In [25]:
# union
people={"Jay","Idrish","Archil"}
vampires={"Karan","Arjun"}
dracula={"Deepanshu","Raji"}

In [26]:
population=people.union(vampires)
print(population)

{'Idrish', 'Karan', 'Jay', 'Archil', 'Arjun'}

In [27]:
population=people | dracula
print(population)

{'Idrish', 'Raji', 'Jay', 'Archil', 'Deepanshu'}

In [ ]:
# intersection

In [33]:
set1 = set()
set2 = set()
for i in range(5):
    set1.add(i)
    
for i in range(3,9):
    set2.add(i)

set3=set1.intersection(set2)
print(set3)

{3, 4}