In [ ]:
#A List is a kind of Collection.
#A collection allows us to put many values in a single variable

# A collection is nice because we can carry all many values around in one convenient package
#friends=['Joseph', 'Glenn', 8]

#List constants are surrounded by square brackets and the elements in the list are separated by commas.
# A list element can be any Python object- even another list
#A list can be empty
#List can contain heterogeneous values.
#Lists are mutable


#Strings are immutable - we cannot change the contents of a string - we must make a new string to make any change
#Lists are mutable- we can change an element of a list using the index operator

#Using the range function:
#The range function returns a list of numbers that range from zero to one less than the parameter
#We can construct an index loop using for and an integer iterator

#We can create a new list by adding two existing lists together

In [ ]:
# List methods
# x=[]
# x=list()
#dir(x)['append', 'count','sort','copy', 'extend', 'index','insert', 'pop', 'remove', 'reverse', 'sort', 'clear' ]

In [2]:
stuff=[]
### append method
stuff.append('book')
stuff.append(99)
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

In [3]:
### 'in' and 'not in' operator
20 in stuff

False

In [17]:
##Lists are ordered
# A list can be sorted

f=list()
f.append('sortin')
f.append('cook')
f.append('book')
print(f)

['sortin', 'cook', 'book']

In [23]:
f.sort()
print(f)

['book', 'cook', 'sortin']

In [3]:
# How to create an empty list

x=list()
print(x)
print(type(x))

[]
<class 'list'>

In [4]:
x=[]
print(type(x))

<class 'list'>

In [26]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
x.append(5)
x

[5]

In [6]:
x.append(6)
x

[5, 6]

In [7]:
x.append('a')
x.append('Hello')
x.append(7.8)
x

[5, 6, 'a', 'Hello', 7.8]

In [9]:
x.insert(2,"Good Morning")
x

[5, 6, 'Good Morning', 'a', 'Hello', 7.8]

In [10]:
x.insert(7,"Good Night")
x

[5, 6, 'Good Morning', 'a', 'Hello', 7.8, 'Good Night']

In [11]:
x.insert(15,"Good")
x
# it has started acting like append function

[5, 6, 'Good Morning', 'a', 'Hello', 7.8, 'Good Night', 'Good']

In [12]:
l=[1,2,3.5,4.7,'a','b',True, False, [8,7,6]]
print(l)
print(type(l))

[1, 2, 3.5, 4.7, 'a', 'b', True, False, [8, 7, 6]]
<class 'list'>

In [2]:
#indexing in lists

a = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
a

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
a[:]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
a[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [16]:
a[:6]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [17]:
a[2:5]

['cherry', 'orange', 'kiwi']

In [18]:
a[-1]

'mango'

In [19]:
a[-2]

'melon'

In [22]:
a[::2]

['apple', 'cherry', 'kiwi', 'mango']

In [23]:
a[2:6:2]

['cherry', 'kiwi']

In [24]:
a[-5:-1]

['cherry', 'orange', 'kiwi', 'melon']

In [25]:
a[:]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [26]:
a[::1]

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [27]:
a[::-1]

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [28]:
a[::-3]

['mango', 'orange', 'apple']

In [29]:
# Using default functions of list

s=[4,5,6,7,'w','t',6.7,9.8,[6,7,8],6.5]
s

[4, 5, 6, 7, 'w', 't', 6.7, 9.8, [6, 7, 8], 6.5]

In [30]:
len(s)

10

In [31]:
s[8]

[6, 7, 8]

In [32]:
s[8][0]

6

In [33]:
s[8][2]

8

In [34]:
max(a)

'orange'

In [36]:
a=[3,6,7,2,3,56,6,89]
a

[3, 6, 7, 2, 3, 56, 6, 89]

In [38]:
max(a)

89

In [39]:
min(a)

2

In [40]:
sum(a)

172

In [41]:
a.sort()
a

[2, 3, 3, 6, 6, 7, 56, 89]

In [45]:
a.sort(reverse=True)
a

[89, 56, 7, 6, 6, 3, 3, 2]

In [3]:
a

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [10]:
# Make a program to take students name and marks in two seperate lists, ask the user the number of entries they want to make

name=[]
marks=[]
num=int(input("Enter the number of entries you want to make: "))
for i in range(num):
    name.append(input("Enter the name of student: "))
    marks.append(int(input("Enter the marks: ")))
print(name)
print(marks)

Enter the number of entries you want to make: 2
Enter the name of student: df
Enter the marks: 3
Enter the name of student: ds
Enter the marks: 32
['df', 'ds']
[3, 32]

32

In [11]:
max(marks)

32

In [13]:
#zip function

name_marks=zip(name,marks)

n_m=list(name_marks)
print(n_m)
max(n_m)

[('df', 3), ('ds', 32)]

('ds', 32)

In [14]:
for n,m in zip(name,marks):
    print("Name of the student : {}  Marks of the student : {}".format(n,m))

Name of the student : df  Marks of the student : 3
Name of the student : ds  Marks of the student : 32

In [15]:
l1=[1,2,3,4,5,6]
l2=['a','b','c']

l=zip(l1,l2)

In [16]:
l=list(l)
print(l)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [27]:
# Enter elements in two list, join them and finally sort the final list
l1=[]
l2=[]

num1=int(input("Enter the size of the list 1: "))
num2=int(input("Enter the size of the list 2: "))

print("Enter the elements of list 1:\n")
for i in range(num1):
    l1.append(int(input()))
    
print("Enter the elements of list 2:\n")
for i in range(num2):
    l2.append(int(input()))
    
l3=l1+l2
l3.sort()
print("Sorted list is:\n")
print(l3)

Enter the size of the list 1: 2
Enter the size of the list 2: 3
Enter the elements of list 1:

8
5
Enter the elements of list 2:

4
3
9
[3, 4, 5, 8, 9]

In [2]:
list3=[1,2,[3,4,'hello']]
list3

[1, 2, [3, 4, 'hello']]

In [3]:
list3[2][2]='goodbye'

In [4]:
print(list3)

[1, 2, [3, 4, 'goodbye']]